
#code {
    width: 958px;
    max-width: 958px;
    height: 500px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#code {
    background-color: #f8dff8;
    color: black;
}

#events {
    max-height: 500px;
    overflow-y: scroll;
    background: black;
    padding: 5px
}

#left, #right {
    float: left;
    margin: 5px;
}

#left {
    width: 1000px;
}

#right {
    width: calc(100% - 1200px);
}

#console pre {
    max-height: 295px;
    overflow-y: scroll;
    overflow-x: auto;
}

#orders .component_content {
    max-height: 457px;
    overflow-y: scroll;
}

input[name=stop] {
    background: red;
    color: white;
}

.display-on-backtest {
    display: none;
}

#currentPL {
    font: 30px sans-serif;
}

#nbOrder {
    font: 20px sans-serif;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#nbOrder .value {
    color: #003500;
}

#events .SENT {
    color: greenyellow;
}

#events .RECEIVED {
    color: greenyellow;
}

#events .OPENED {
    color: green;
}

#events .CLOSE_SENT {
    color: cornflowerblue;
}

#events .CLOSE_RECEIVED {
    color: cornflowerblue;
}

#events .PARTIALLY_CLOSED {
    color: blue;
    text-decoration: underline;
}

#events .CLOSED {
    color: blue;
}

#events .CANCEL_SENT {
    color: red;
}

#events .CANCELLED {
    color: darkred;
}

#orders tr.highlight {
    background: #cc99cd;
}