/* TODO remove*/
body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path {
    fill: none;
    stroke-width: 1;
}

path.ohlc {
    stroke: #000000;
    stroke-width: 1;
}

path.ohlc.up {
    stroke: #00AA00;
}

path.ohlc.down {
    stroke: #FF0000;

}

.tradearrow path.tradearrow {
    stroke: none;
}

.tradearrow path.open-buy {
    fill: #ecc8ff;
}

.tradearrow path.open-sell {
    fill: #cde8ff;
}

.tradearrow path.close-buy {
    fill: #ff55af;
}

.tradearrow path.close-sell {
    fill: #8abdff;
}

.tradearrow path.highlight {
    fill: none;
    stroke-width: 2;
    stroke: black;
}

