#agentComposition .expression {
    padding-bottom: 5px;
}

#agentComposition .expression div {
    display: inline;
    padding-right: 5px;
}

#agentComposition .orderBlock {
    background: #DDDDEE url("../img/if.png") 3px 3px no-repeat;
    padding: 7px 7px 7px 30px;
    margin-bottom: 5px;
    border-radius: 5px;

}

#agentComposition .order {
    background: #CCCCDD url("../img/then.png") 3px 3px no-repeat;
    padding: 7px 7px 7px 50px;
    border-radius: 5px;
}

#agentComposition select.error, #agentComposition input.error {
    background: #ffe4e3;
}

#agentComposition select.ok, #agentComposition input.ok {
    background: #cbffdc;
}