
pre[class*="language-"] {
    border-width: 0;
    border-radius: 0;
    margin: 0;
}

#content {
    margin: 10px;
}

/*
** Backtest
*/

.tab-pane {
    border: 1px solid #ddd;
    border-top-width: 0;
    padding: 10px;
}

.display-on-backtest {
    display: none;
}

.positive {
    color: green !important;
}

.negative {
    color: red !important;
}

#console pre {
    max-height: 295px;
    overflow: auto;
    border-width: 0;
    margin: 0;
}

#orders tr.highlight {
    background: #cc99cd;
}

#currentPL {
    font-size: 1.4em;
}

#nbOrder .value {
    color: #003500;
    float: right;
}

/*
** Events
*/

#events {
    min-height: 50px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px
}

#events .SENT {
    color: greenyellow
}

#events .RECEIVED {
    color: greenyellow
}

#events .OPENED {
    color: green
}

#events .CLOSE_RECEIVED,
#events .CLOSE_SENT {
    color: cornflowerblue
}

#events .CLOSED {
    color: blue
}

#events .CANCEL_SENT {
    color: red
}

#events .CANCELLED {
    color: darkred
}

#events .PARTIALLY_CLOSED {
    color: blue;
    text-decoration: underline;
}

/*
** Backtest composition
*/

#agentComposition .expression {
    padding-bottom: 5px;
}

#agentComposition .expression div {
    display: inline;
    padding-right: 5px;
}

#agentComposition .order {
    clear: both;
    background: #ddd 3px 3px no-repeat;
    padding: 5px 10px;
}

#agentComposition select.error,
#agentComposition input.error {
    background: #ffe4e3;
}

#agentComposition select.ok,
#agentComposition input.ok {
    background: #cbffdc;
}

#agentComposition .removeCondition {
    float: right;
}

#agentComposition .typeSelector {
    margin: 0;
    width: auto;
    display: inline-block;
}
