<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQL4 to Javascript</title>
    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/mql4js.css">
    <!-- endbuild -->

    <!-- build:js js/require.js -->
    <script language="JavaScript" src="js/require.js"></script>
    <!-- endbuild -->

    <!-- build:js js/mql4-to-js.js -->
    <script language="JavaScript" src="js/mql4-to-js.constants.js"></script>
    <script language="JavaScript" src="js/mql4-to-js.functions.js"></script>
    <script language="JavaScript" src="js/mql4-to-js.visitor.js"></script>
    <!-- endbuild -->

    <!-- build:js bower_dep.js -->
    <script language="JavaScript" src="bower_components/js-beautify/js/lib/beautify.js"></script>
    <script language="JavaScript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script language="JavaScript" src="bower_components/lodash/lodash.min.js"></script>
    <script language="JavaScript" src="bower_components/prism/prism.js"></script>
    <script language="JavaScript" src="bower_components/sprintf/dist/sprintf.min.js"></script>
    <script language="JavaScript" src="bower_components/moment/min/moment.min.js"></script>
    <script language="JavaScript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->


    <!-- build:js js/mql4-min.js -->
    <script language="JavaScript" src="js/mql4.js"></script>
    <!-- endbuild -->


    <script language="JavaScript">
        var antlr4 = require('antlr4/index');
        var mql4Lexer = require('./js/MQL4Lexer');
        var mql4Parser = require('./js/MQL4Parser');

        var readMql4 = function () {
            jQuery.ajax({
                histoCache: false,
                url: "mql4/" + $("#sourceFile").val(),
                success: function (data) {
                    $("#source").val(data);
                }
            })
        };

        function runScript(functionName, mql4ToJs) {
            var logBlock = $("#log");
            var parametersJs = $("#external_parameters")
                    .find("input")
                    .toArray()
                    .map(function (input) {
                        return $(input).attr("name") + "=" + $(input).val() + ";\n";
                    })
                    .join("");

            var safeJs = "(function(){ " + mql4ToJs.js + "\n" + parametersJs + functionName + "})()";


            console.log(safeJs);


            var _log = console.log;
            var _error = console.error;
            console.error = function (msg) {
                logBlock.append("<span class='error'>" + msg + "</span>\n");
            };
            console.log = function (msg) {
                logBlock.append("<span class='log'>" + msg + "</span>\n");
            };
            console.error("------");
            console.error("running " + functionName + " on " + new Date());
            console.error("------");
            try {
                eval(safeJs);
            } finally {
                console.log = _log;
                console.error = _error;
            }
        }


        var parseAndShow = function () {
            var result = mqlParser.parse($("#source").val(), $("#keep-types").prop("checked"), $("#keep-original").prop("checked"), $("#keep-comments").prop("checked"));


            $("#functionToExecute").html(
                    result.mql4ToJs.callableFunctions.map(function (functionName) {
                        return "<option value='" + functionName + "()'>" + functionName + "</option>";
                    }).join("")
            );

            $("#executeBtn")
                    .unbind("click")
                    .bind("click", function () {
                        runScript($("#functionToExecute").val(), result.mql4ToJs);
                    });


            $("#AST").text(result.tree.toStringTree(null, result.parser));
            $("#external_parameters").empty();
            $.each(result.mql4ToJs.externalParameters, function (index, value) {
                $("#external_parameters").append(
                        "<tr><td>" + value.name + "</td>" +
                        "<td>" + value.type + "</td>" +
                        "<td><input type='text' name='" + value.name + "' value='" + value.defaultValue + "' /> </td></tr>")
            });
            $("#js").text(js_beautify(result.mql4ToJs.js)).each(function (i, block) {
                Prism.highlightAll();
            });

        };


        // parse
        var mqlParser = function () {
            var parse = function (input, keepType, keepOriginal, keepComment) {
                var chars = new antlr4.InputStream(input);
                var lexer = new mql4Lexer.MQL4Lexer(chars);
                var tokens = new antlr4.CommonTokenStream(lexer);
                var parser = new mql4Parser.MQL4Parser(tokens);


                parser.buildParseTrees = true;

                var tree = parser.root();

                var result = new MQL4ToJsVisitor(keepType, keepOriginal, tokens, keepComment).visit(tree);
                return {parser: parser, tree: tree, mql4ToJs: result};
            };

            return {parse: parse}
        }();


        $(readMql4);
    </script>


</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MQL4 to JS</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Convert</a></li>
          <li><a href="/BackTest.html">Backtest</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div id="content">
  <h1>Convert and execute</h1>

  <h2>Convert</h2>

  <div class=row>
    <div class=col-sm-6>

      <div class="alert alert-warning alert-dismissible fade in" style="font-size:.9em">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <p>
              Your source file must be a valid MQL4 script.<br />
              Providing an invalid MQL4 script may generate an invalid JS file without any warning.
          </p>

          <p>Limitations :
            <ul>
                <li>Classes are not supported</li>
                <li>Direct memory operations are not supported (sizeof)</li>
                <li>Pointers are not supported</li>
                <li>Preprocessor are not supported</li>
            </ul>
          </p>
      </div>

      <div class="form-group">
        <label for=sourceFile>Examples</label>
    <select id="sourceFile" onchange="readMql4()" class=form-control>
        <optgroup label="personal tests">
            <option value="test.mql4" selected>test.mql4</option>
        </optgroup>
        <optgroup label="mql4 lang">
            <option value="declaration.mql4">Declarations</option>
            <option value="Arrays.mql4">Arrays</option>
            <option value="enum.mql4">Enums</option>
            <option value="comments.mql4">Comments</option>
            <option value="structure.mql4">Structures</option>
            <option value="FunctionDeclarations.mql4">Function Declaration</option>
            <option value="ControlStructures.mql4">Control structures</option>
            <option value="date.mql4">Date</option>
            <option value="preprocessors.mql4">Preprocessors</option>
        </optGroup>

        <optgroup label="mql4 standard api">
            <option value="CommonFunctions.mql4">Common Functions</option>
            <option value="ArrayFunctions.mql4">Array Functions</option>
            <option value="ConversionFunctions.mql4">Conversion Functions</option>
            <option value="MathFunction.mql4">Math Function</option>
            <option value="StringFunction.mql4">String Function</option>
            <option value="DateFunctions.mql4">Date and Time</option>
            <option value="AccountFunctions.mql4">Account Information</option>
            <option value="StateChecking.mql4">Checkup</option>
            <option value="marketInfo.mql4">Market Info</option>
            <option value="TimeSeriesFunctions.mql4">Timeseries and Indicators Access</option>
            <option value="ChartFunctions.mql4">Chart Operations</option>
            <option value="TradeFunctions.mql4">Trade Functions</option>
            <option value="SignalFunctions.mql4">Trade Signals</option>
            <option value="GlobalVariableFunctions.mql4">Global Variables of the Terminal</option>
            <option value="FileFunctions.mql4">File Functions</option>
            <option value="CustomIndicatorsFunction.mql4">Custom Indicators</option>
            <option value="ObjectFunctions.mql4">Object Functions</option>
            <option value="TechnicalIndicatorsFunctions.mql4">Technical Indicators</option>
            <option value="EventFunctions.mql4">Working with Events</option>
        </optGroup>

        <optgroup label="mql4 EA">
            <% _.forEach(samples, function(sample) { %>
            <option value='samples/<%- sample %>'><%- sample %></option>
            <% }); %>
        </optgroup>
    </select>
  </div>

  <div class="form-group">
    <label for=source>Source</label>
    <textarea id="source" class=form-control rows="20"></textarea>
  </div>

    <input type="checkbox" id="keep-types"/> Keep types in javascript<br>
    <input type="checkbox" id="keep-original"/> Keep original code as comment<br>
    <input type="checkbox" id="keep-comments" checked/> Keep comments (experimental)<br>
    <button onclick="parseAndShow()" class="btn btn-primary">Convert</button>
  </div>
  <div class=col-sm-6>
    <div class="panel panel-default">
      <div class="panel-heading">Generated JavaScript</div>

      <pre><code id="js" class="language-javascript">// Nothing generated yet
// 1. Choose a file to convert or write your own code
// 2. Click on "Convert"</code></pre>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingAST" data-toggle="collapse" href="#collapseAST" aria-expanded="false" aria-controls="collapseAST">
              Generated AST
        </div>
        <div id="collapseAST" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAST">
          <div class="panel-body">
            <div id="AST" style="font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;"></div>
          </div>
        </div>
      </div>
  </div>
</div>

<h2>Execution</h2>
<div class=row>
  <div class=col-sm-6>
    <h3>External parameters/Input</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
        </tr>
        </thead>
        <tbody id="external_parameters">

        </tbody>
    </table>

    <select id="functionToExecute"></select>
    <button id="executeBtn" class="btn btn-primary">Execute generated javascript</button>

  </div>
  <div class=col-sm-6>
    <h3>Execution log</h3>
    <pre><code id="log"></code></pre>
  </div>
</div>
</div>

</body>
</html>
