<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQL4 to Javascript</title>
    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="css/mql4js.css">
    <link rel="stylesheet" href="css/prism.css">
    <!-- endbuild -->

    <!-- build:js js/require.js -->
    <script language="JavaScript" src="js/require.js"></script>
    <!-- endbuild -->

    <!-- build:js js/mql4-to-js.js -->
    <script language="JavaScript" src="js/mql4-to-js.constants.js"></script>
    <script language="JavaScript" src="js/mql4-to-js.functions.js"></script>
    <script language="JavaScript" src="js/mql4-to-js.visitor.js"></script>
    <!-- endbuild -->

    <!-- build:js bower_dep.js -->
    <script language="JavaScript" src="bower_components/js-beautify/js/lib/beautify.js"></script>
    <script language="JavaScript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script language="JavaScript" src="bower_components/lodash/lodash.min.js"></script>
    <script language="JavaScript" src="bower_components/prism/prism.js"></script>
    <script language="JavaScript" src="bower_components/sprintf/dist/sprintf.min.js"></script>
    <script language="JavaScript" src="bower_components/moment/min/moment.min.js"></script>
    <!-- endbuild -->


    <!-- build:js js/mql4-min.js -->
    <script language="JavaScript" src="js/mql4.js"></script>
    <!-- endbuild -->


    <script language="JavaScript">
        var antlr4 = require('antlr4/index');
        var mql4Lexer = require('./js/MQL4Lexer');
        var mql4Parser = require('./js/MQL4Parser');

        var readMql4 = function () {
            jQuery.ajax({
                cache: false,
                url: "mql4/" + $("#sourceFile").val(),
                success: function (data) {
                    $("#source").val(data);
                }
            })
        };

        function runScript(functionName, mql4ToJs) {
            var logBlock = $("#log");
            var parametersJs = $("#external_parameters")
                    .find("input")
                    .toArray()
                    .map(function (input) {
                        return $(input).attr("name") + "=" + $(input).val() + ";\n";
                    })
                    .join("");

            var safeJs = "(function(){ " + mql4ToJs.js + "\n" + parametersJs + functionName + "})()";


            console.log(safeJs);


            var _log = console.log;
            var _error = console.error;
            console.error = function (msg) {
                logBlock.append("<span class='error'>" + msg + "</span>\n");
            };
            console.log = function (msg) {
                logBlock.append("<span class='log'>" + msg + "</span>\n");
            };
            console.error("------");
            console.error("running " + functionName + " on " + new Date());
            console.error("------");
            try {
                eval(safeJs);
            } finally {
                console.log = _log;
                console.error = _error;
            }
        }


        var parseAndShow = function () {
            var result = mqlParser.parse($("#source").val(), $("#keep-types").prop("checked"), $("#keep-original").prop("checked"), $("#keep-comments").prop("checked"));


            $("#functionToExecute").html(
                    result.mql4ToJs.callableFunctions.map(function (functionName) {
                        return "<option value='" + functionName + "()'>" + functionName + "</option>";
                    }).join("")
            );

            $("#executeBtn")
                    .unbind("click")
                    .bind("click", function () {
                        runScript($("#functionToExecute").val(), result.mql4ToJs);
                    });


            $("#AST").val(result.tree.toStringTree(null, result.parser));
            $("#external_parameters").empty();
            $.each(result.mql4ToJs.externalParameters, function (index, value) {
                $("#external_parameters").append(
                        "<tr><td>" + value.name + "</td>" +
                        "<td>" + value.type + "</td>" +
                        "<td><input type='text' name='" + value.name + "' value='" + value.defaultValue + "' /> </td></tr>")
            });
            $("#js").text(js_beautify(result.mql4ToJs.js)).each(function (i, block) {
                Prism.highlightAll();
            });

        };


        // parse
        var mqlParser = function () {
            var parse = function (input, keepType, keepOriginal, keepComment) {
                var chars = new antlr4.InputStream(input);
                var lexer = new mql4Lexer.MQL4Lexer(chars);
                var tokens = new antlr4.CommonTokenStream(lexer);
                var parser = new mql4Parser.MQL4Parser(tokens);


                parser.buildParseTrees = true;

                var tree = parser.root();

                var result = new MQL4ToJsVisitor(keepType, keepOriginal, tokens, keepComment).visit(tree);
                return {parser: parser, tree: tree, mql4ToJs: result};
            };

            return {parse: parse}
        }();


        $(function () {
            readMql4();
        });


    </script>


</head>
<body>
<div class="row">
    <h1>Source file</h1>

    <div class="warning">
        <p>
            Your source file must be a valid MQL4 script.
            Providing invalid mql4 script may results to generate invalid JS file without any warning
        </p>

        Limitations :
        <ul>
            <li>Classes are not supported</li>
            <li>Direct memory operations are not supported (sizeof)</li>
            <li>Pointers are not supported</li>
            <li>Preprocessor are not supported</li>
        </ul>

    </div>
    <select id="sourceFile" onchange="readMql4()">
        <optgroup label="personal tests">
            <option value="test.mql4" selected>test.mql4</option>
        </optgroup>
        <optgroup label="mql4 lang">
            <option value="declaration.mql4">Declarations</option>
            <option value="Arrays.mql4">Arrays</option>
            <option value="enum.mql4">Enums</option>
            <option value="comments.mql4">Comments</option>
            <option value="structure.mql4">Structures</option>
            <option value="FunctionDeclarations.mql4">Function Declaration</option>
            <option value="ControlStructures.mql4">Control structures</option>
            <option value="date.mql4">Date</option>
            <option value="preprocessors.mql4">Preprocessors</option>
        </optGroup>

        <optgroup label="mql4 standard api">
            <option value="CommonFunctions.mql4">Common Functions</option>
            <option value="ArrayFunctions.mql4">Array Functions</option>
            <option value="ConversionFunctions.mql4">Conversion Functions</option>
            <option value="MathFunction.mql4">Math Function</option>
            <option value="StringFunction.mql4">String Function</option>
            <option value="DateFunctions.mql4">Date and Time</option>
            <option value="AccountFunctions.mql4">Account Information</option>
            <option value="StateChecking.mql4">Checkup</option>
            <option value="marketInfo.mql4">Market Info</option>
            <option value="TimeSeriesFunctions.mql4">Timeseries and Indicators Access</option>
            <option value="ChartFunctions.mql4">Chart Operations</option>
            <option value="TradeFunctions.mql4">Trade Functions</option>
            <option value="SignalFunctions.mql4">Trade Signals</option>
            <option value="GlobalVariableFunctions.mql4">Global Variables of the Terminal</option>
            <option value="FileFunctions.mql4">File Functions</option>
            <option value="CustomIndicatorsFunction.mql4">Custom Indicators</option>
            <option value="ObjectFunctions.mql4">Object Functions</option>
            <option value="TechnicalIndicatorsFunctions.mql4">Technical Indicators</option>
            <option value="EventFunctions.mql4">Working with Events</option>
        </optGroup>

        <optgroup label="mql4 EA">
            <% _.forEach(samples, function(sample) { %>
            <option value='samples/<%- sample %>'><%- sample %></option>
            <% }); %>
        </optgroup>


    </select>

    <textarea id="source"></textarea>

    <input type="checkbox" id="keep-types"/> Keep types in javascript<br>
    <input type="checkbox" id="keep-original"/> Keep original code as comment<br>
    <input type="checkbox" id="keep-comments" checked/> Keep comments (experimental)<br>
    <button onclick="parseAndShow()">Convert</button>
    <h3>AST</h3>

    <textarea id="AST"></textarea>
</div>

<div class="row">
    <h1>results</h1>

    <h3>Javascript File</h3>
    <pre><code id="js" class="language-javascript"></code></pre>

    <h3>Execution</h3>

    <h3>External parameters/Input</h3>
    <table>
        <thead>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>default value</th>
        </tr>

        </thead>
        <tbody id="external_parameters">

        </tbody>
    </table>
    <select id="functionToExecute"></select>
    <button id="executeBtn">Execute generated javascript</button>
    <h3>log</h3>
    <pre><code id="log"></code></pre>


</div>


</body>
</html>