h1, h2, h3, h4, h5, h6 {
    color: #7070A0;
}

textarea {
    display: block;
    width: 100%;
    min-height: 300px;
}

table {
    width: 100%;

}

td, th {
    padding: 5px;
}

td {
    background-color: #fafafc;
}

th {
    background-color: #e6e6fa;
    text-align: left;

}

div.row {
    float: left;
    width: 700px;
    margin-left: 50px;
}